/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-numbers-timeout {
    background-color: rgba(0,0,0,.5);
    border-radius: 2rem;
    padding: 3rem;
    font-size: 3rem;
    color: white;
}


.display-none {
    display: none;
}